.heroPage{
    background: linear-gradient(rgba(5,7,12,.5),rgba(5,7,12,.5)),url(../assets//heroes/heroes_poster.jpg) no-repeat center center fixed;
    width: 100%;
    height: 100%;
    color: #fff;
}

.heroPage-container{
    background: linear-gradient(rgba(5,7,12,.5),rgba(5,7,12,.5)),url(../assets//heroes/heroes_poster.jpg) no-repeat center center fixed;
    width: 100vw;
    height: 100%;
    color: #fff;
}

html{
    background: linear-gradient(rgba(5,7,12,.5),rgba(5,7,12,.5)),url(../assets//heroes/heroes_poster.jpg) no-repeat center center fixed;

}